html,
body {
	width  : 100%;
	height : 100%;
	margin : 0;
}

.manga-list {
	display         : flex;
	flex-wrap       : wrap;
	justify-content : left;
	width           : 100%;
	margin          : 0 auto;
}

.manga-list div img {
	height : 150px;
	width  : 100px;
	cursor : pointer;
}

.manga-list div {
	/* flex-basis:%; */
	margin : 10px;
}

.manga-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.manga-page p {
	width:50%;
}

.other-details {
	display:flex;
	width:50%;
	flex-direction:column;
	align-items: center;
	justify-content: space-between;
}

.genres {
	display:flex;
	width:50%;
	justify-content: space-around;
	margin-bottom: 10px;
	font-size:12px;
}

.chapters {
	width:50%;
}

.chapter {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}

.chapter img {
	margin-bottom: 20px;
	max-width:1900px;
}

.column-info {
	display:flex;
	width:50%;
	justify-content: space-between;
	border-bottom-width: thin;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.chapter-info {
	display:flex;
	justify-content: space-between;
	border-bottom-width: thin;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.chapter-info a {
	text-decoration: none;
}
